#supervisionsignup #listing h3 {margin-bottom: 0;}
#supervisionsignup #listing table.listing {width: 100%; margin-top: 0;}
#supervisionsignup #listing table.listing td:first-child {width: 33%; padding-right: 20px;}
#supervisionsignup #listing li a.finished {opacity: 0.35;}

#supervisionsignup div.timeslot, #supervisionsignup form.timeslots input[type=submit] {float: left; margin: 0 10px 5px 0; background-color: #ddd; border: 0 none; text-align: left; height: 3.5em; width: 15em; max-width: 15em; margin-right: 10px;}
#supervisionsignup div.timeslot {padding: 5px 8px; width: calc(15em - 16px); height: calc(3.5em - 10px);}
#supervisionsignup form.timeslots input[type=submit] {cursor: pointer;}

#supervisionsignup form.timeslots td {text-align: left;}
@media screen and (max-width: 480px) {
	#supervisionsignup form.timeslots td, body #supervisionsignup form.timeslots td input {font-size: 12px;}
	#supervisionsignup form.timeslots td span.abbreviation {display: none;}
}
#supervisionsignup form.timeslots tr.uneditable {opacity: 0.4;}

#supervisionsignup div.timeslot.taken {background-color: #f5cba7;}
#supervisionsignup div.timeslot.me {background-color: #f8c471;}
#supervisionsignup div.timeslot.available {background-color: #f9f9f9; color: gray;}
#supervisionsignup div.timeslot p {margin: 0; padding: 0; line-height: 1.3em;}
#supervisionsignup div.timeslot span {font-size: 0.83em; color: #666;}
#supervisionsignup div.timeslot div.delete input {float: right; background: url(/images/icons/cross.png) no-repeat; background-size: 12px 12px; cursor: pointer; border: 0; width: 12px; height: 12px; margin: 0; padding: 0; opacity: 0.7;}


#supervisionsignup table.setdetails .saturday, #supervisionsignup table.setdetails .sunday {background-color: #f7f7f7;}

#supervisionsignup ul.actions {margin-top: 1em;}
#supervisionsignup ul.actions li {margin-bottom: 6px;}
#supervisionsignup ul.actions li a:hover {background-color: #f7f7f7; text-decoration: none;}

#supervisionsignup div.courses {margin-top: 2em;}

/* Copying */
#autocopy {float: right; width: 10em; border: 1px solid #eee; border-radius: 10px; padding: 4px 8px; margin-bottom: 10px; font-size: 0.94em; line-height: 1.4em;}


/* Print styes; those properties prefixed with _ are buggy in Firefox so have been disabled */
@media print {
	#supervisionsignup h1, #supervisionsignup ul.tabs, #supervisionsignup ul.tabs + h2, #supervisionsignup h3#timeslots {display: none;}
	#supervisionsignup form.timeslots table {width: 99%; table-layout: fixed;}
	#supervisionsignup form.timeslots table td {border: 1px solid #ddd;}
	#supervisionsignup form.timeslots table td * {line-height: 1.4em;}
	#supervisionsignup form.timeslots table td.date {width: 9em;}
	#supervisionsignup form.timeslots table td.time {width: 6em;}
	#supervisionsignup form.timeslots table td.time span {font-weight: bold;}
	#supervisionsignup div.timeslot, #supervisionsignup form.timeslots input[type=submit] {_width: auto; height: auto; _background-color: #eee !important; -webkit-print-color-adjust: exact;}
	#supervisionsignup form.timeslots input[type=submit], #supervisionsignup form.timeslots div.timeslot.available {display: none;}
}

